#title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
}
#plot-area {
    position: absolute;
    left: 405px;
    right: 0px;
    bottom: 40px;
    top: 40px;
}

#program-area {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 400px;
    bottom: 40px;
    border-right: 5px solid gray;
}


#header {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 39px;
    background-color: lightgray;
    border-bottom: 1px solid grey;
}

#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 39px;
    border-top: 1px solid grey;
    background-color: lightgray;
}
