#title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    text-transform: capitalize;
}
#plot-area {
    position: absolute;
    left: 430px;
    top: 80px;
    border: 1px solid gray;
}

#function-value {
    position: absolute;
    left: 30px;
    top: 80px;
    width: 400px;
    height: 100%;
    border-right: 5px solid gray;
}

#function-value textarea {
    display: inline-block;
    width: 400px;
    height: 100%;
}
